
body {
    margin: 0;
    font-size: 18px;
    padding: 0;
    background-color:aliceblue;
    
}
.header{
    background-color:cornflowerblue;
    padding: 20px;
}
nav{
    color: white;
    padding: 12px;
}
/* header styling */
a{
    cursor: pointer;
    text-decoration: none;
    color:cyan;
}
a:hover{
    color: aliceblue;
}
.time{
    float:right;
    margin-right: 30px;
    margin-top: 0px;
    
}
/* homepage styling */
.homepage{
    margin-left: 350px;
    width: max-content;
    padding: 50px;
    border-radius: 10px;
    background-color:aquamarine;
    text-align: center;
    
}
.btn{
    cursor: pointer;
    margin: 2px;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
    color:white;
    background-color:cornflowerblue;
}
.btn:hover{
    background-color:aqua;
    color:blueviolet;
}
#start-btn{
    margin-right: 30px;
    
}

/* quiz page styling */
.quiz-page,
.score-page,
.gameover-page{
    margin-top: 50px;
    margin-left: 550px;
    width: 600px;
    padding: 50px;
    border-radius: 5px;
    background-color:aquamarine;
    border-radius: 10px;
}
.score-list{
    list-style: none;
    margin: 5%;
    line-height: 16px;
    width: max-content;
}
li{
    margin: 2px;
    width: 400px;
    padding: 10px;
    background-color:darkslateblue;
    border-radius: 5px;
    color:white;
    font-family:cursive;
}

.choice-btn{
    background-color:mediumslateblue;
    margin: 3px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border-style: none;
    margin-left: 25px;
    padding: 5px;
    
    
}

.choice-btn:hover{
    background-color: aqua;
    color: black;
}
.quiz-page-box .answer-input{
    border-top: 3px solid gray;
    font-family: cursive;
    color: grey;
}
.message{
    color:cadetblue;
    margin-left: 25px;
    border-top: 2px solid gainsboro;
    padding: 10px;
    font-family: cursive;
}


@media only screen and (max-width: 600px) {
    .quiz-list,
    .score-page,
    .gameover-page{
        margin-right: 5px;
        font-size: 12px;
        margin-top: 5%;
        margin-left: 0;
        line-height: 16px;
        width: max-content;
    }
   
    
    

}